<!DOCTYPE html>
<html>
<title>billiard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="public/css/billiard.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script type="text/javascript">
      $(document).ready(function(){
         $("#footer").load("footer.html");
      });
</script>    

<body>
<%- include menu.ejs%>

<!-- contents -->
<div class="bgimg-1 w3-display-container w3-grayscale-min">
    <div class="w3-display-left w3-text-white" style="padding:48px">
      <span class="w3-jumbo w3-hide-small">billiard</span><br>
      <span class="w3-xxlarge w3-hide-large w3-hide-medium">billiard</span><br>
      <p><a href="/3cushion" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">당구 배우기</a></p>
    </div> 
</div>

<div id="footer"></div>

</body>
</html>
